<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<context-param>
    <param-name>city</param-name>
    <param-value>colombo</param-value>
</context-param>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>lk.ijse.gdse66.hello.api.HelloServlet</servlet-class>
        <init-param>
            <param-name>Navishka</param-name>
            <param-value>Matara</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloServlet_2</servlet-name>
        <servlet-class>lk.ijse.gdse66.hello.api.HelloServlet_2</servlet-class>
        <init-param>
            <param-name>Punchihewa</param-name>
            <param-value>Galle</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet_2</servlet-name>
        <url-pattern>/test2</url-pattern>
    </servlet-mapping>
</web-app>